.DS_Store
/R/graphs
R/.Rhistory
R/.Rhistory
R/.Rhistory
R/graphs
R/.Rhistory
R/.Rhistory
R/.Rhistory
agg_results
scout_results
R/generated_csvs
R/.Rhistory

# Ignore helper and scout folders
helper/
scout/
